body {
    background: url('IMG_4708.jpg');
    background-repeat: no-repeat;;
    background-position: center;
    background-attachment: fixed;
    font-family: Montserrat;

}

.buttons{
    padding:40px;
    align-content: center;
    text-align: center;
    
}
.info {
    background-color: whitesmoke;
    margin: auto;
    border-radius:  1em;
    
    
}
.title {
    font-size: 1.5em;
    align-content: center;
    text-align: center;
    padding:20px;

}
.output {
    border-color: black;
    border-radius: 1em;
}